body{
  margin: 0px;
  padding:0px;
  background-color: white;
  color:black;
  font-family: 'Montserrat','sans-serif';
}

.grid-container{
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 'sidebar header header header'
  'sidebar main main main';
  height: 100vh;
}

.icon{
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
  margin-right: 15px;
}

.header{
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0,0,0,0.35);
}
.header-right {
  display: flex;
}

.menu-icon{
  display: none;
}

#sidebar{
  grid-area:sidebar;
  height: 100%;
  background-color: rgb(153, 233, 128);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}
.sidebar-title > span{
  display:none;
}
.sidebar-brand{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}
.sidebar-list{
  display:grid;
  padding:0;
  list-style-type:none;
}
.sidebar-list-items{
  display:inline-flex;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
}
.icon {
  display: inline;
  
}
.icon_header {
  display: inline;
}
.sidebar-list-items:hover{
  background-color: rgba(11, 10, 10, 0.2);
  cursor: pointer;
}
.sidebar-list-items>a{
  text-decoration: none;
  color:#02020a;
  padding-top: 2px;
  
}
.sidebar-responsive{
  display: inline !important;
  position:absolute;
  z-index: 12 !important;
}


.main-container{
  grid-area:main;
  overflow-y: auto;
  padding:20px 20px;
  color:rgb(255, 255, 255,0.95);
}
.main-title{
  display: flex;
  justify-content: space-between;
  

}
.main-title h1 {
  font-size: 48px;
  font-family:'Times New Roman', Times, serif;
  white-space: 1px;
  margin-left: 10rem;
   color: rebeccapurple;
}
.main-cards{
  display: grid;
  grid-template-columns: 1fr 1fr  1fr 1fr;
  gap:20px;
margin:15px 0;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}
.card:first-child{
  background-color: #2962ff;
}
.card:nth-child(2){
  background-color: #ff6d00;
}
.card:nth-child(3){
  background-color: #2e7d32;
}
.card:nth-child(4){
  background-color: #d50000;
}
.card-inner > .card_icon{
  font-size: 25px;
}
.charts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  margin-top:60px;
  height:300px;
}


/* for table view from database */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-table {
  margin-left: 500px;
  width: 40%;
  border-collapse: collapse;
  border: 3px solid #d92121;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #257ed2;
  margin-top:100px;
  color: rgb(10, 17, 11);
  font-size: 16px;
  font-weight: 800;
  text-decoration: solid;
  text-transform: uppercase;
}
 h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 0rem;
}

.product-table th,
.product-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ca3f3f;
  
}

.product-table th {
  background-color: #ffffff;
  font-weight: bold;
}

.product-table tbody tr:nth-child(even) {
  background-color: #93eea1;
}

.product-table tbody tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}


/* close for table view */

.add-product-button {
  padding: 10px 20px;
  position:absolute;
  left: 1000px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
}


@media screen and (max-width:992px){
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 'header''main';
  }
  #sidebar{
    display: none;
  }
  .menu-icon{
    display: inline;

  }
.sidebar-title > span{
  display: inline;
}
}

 
